html {
  font-family: 'Segoe UI', sans-serif;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
}

.bg-dark {
  background-color: rgb(33, 37, 41);
  width: 100%;
}

.mg-auto {
  margin-right: auto;
  margin-left: auto;
}

.mg-0 {
  margin: 0;
}

.md-0 {
  margin-bottom: 0;
}

.mt-0 {
  margin-top: 0;
}

.flex-frow-1 {
  flex-grow: 1;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.min-vh-100 {
  min-height: 100vh;
}

.p-5 {
  padding: 3rem;
}

.text-white {
  color: white;
}

.text-gray {
  color: #6c757d;
}

h1 {
  font-size: 4rem;
  font-weight: 300;
}

p {
  font-size: 1.25rem;
  font-weight: 300;
}

.form-floating {
  position: relative;
}

.form-control {
  display: block;
  font-size: 1rem;
  font-weight: 400;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: .25rem;
  transition: 0.15s;
}

input {
  margin: 0;
  font-family: inherit;
  box-sizing: border-box;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.form-floating > .form-control {
  padding: 1rem .75rem;
}

.btn-lg {
  padding: .5rem 1rem;
  font-size: 1.25rem;
  border-radius: .3rem;
}

.btn-primary {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  font-size: 1rem;
}

.btn {
  text-transform: none;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  border-radius: .2rem;
  padding: .375rem .75rem;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  transition: 0.15s;
}

.btn:hover {
  filter: brightness(0.9);
  color: white;
  transition: 0.15s;
}

.bg-light {
  background-color: white;
}

.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.mt-5 {
  margin-top: 3rem;
}

.border-top {
  border-top: 1px solid #dee2e6;
}

.feedback {
  position: absolute;
}

.complete {
  color: #198754;
}

.incomplete {
  color: rgb(220, 53, 69);
}

.valid {
  border: 1px solid #f8f9fa;
  transition: 0.15s;
}

.valid:focus {
  border: 1px solid rgba(13, 202, 240, 1);
  outline: 5px solid rgba(13, 110, 253, 0.2);
  transition: 0.15s;
}

.invalid {
  border: 1px solid rgb(220, 53, 69);
  transition: 0.15s;
}

.invalid:focus {
  border: 1px solid rgba(220, 53, 69, 1);
  outline: 5px solid rgba(220, 53, 69, 0.2);
  transition: 0.15s;
}

.border-0 {
  border: none;
}

.order-1 {
  order: 1;
}

li {
  list-style-type: none;
  padding: 10px 16px;
  padding-left: 0;
}

.p-2 {
  padding: 2rem;
}

.btn-sm {
  padding: .25rem .5rem;
  font-size: .875rem;
  border-radius: .2rem;
}

.btn-outline-primary {
  color: #0d6efd;
  border-color: #0d6efd;
}

.jc-sb {
  justify-content: space-between;
}

a {
  color: #0D6EFD;
  transition: 0.15s;
}

a:hover {
  color: #0b5ed7;
  transition: 0.15s;
}

.text-break {
  word-wrap: break-word;
  word-break: break-word;
}

.modal-footer > * {
  margin: .25rem;
}

h5 {
  font-size: 1.25rem;
}

.h6 {
  font-size: 2rem;
}

.small {
  font-size: .875em;
}

.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: .25rem;
}

.card-title {
  margin-bottom: .5rem;
}

h4 {
  font-size: calc(1.275rem + .3vw);
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-start {
  align-items: start;
}

.list-group-item:first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.list-group-item {
  position: relative;
  display: block;
  padding: .5rem 1rem;
  color: #212529;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.a-test {
  margin-right: 20px;
}